<h2>Today's StackOverFlows questions related to iOS</h2>
<ul style="list-style-type: none">
  <li *ngFor="let question of questions" >
      <div>
          <img src={{question.owner.profile_image}} height="50" width="50"/>
          <p>Title:{{question.title}} </p>
          <p>Score:{{question.score}}</p>
          <p>Tags:{{question.tags}}</p>
          <p>Answer Count: {{question.answer_count}}</p>
          <div *ngFor="let comment of questionComments">
                <template [ngIf]="comment.post_id == question.question_id">
                      comment <!-- needs work -->
                </template>
          </div>
      </div><hr>
  </li>
</ul>

