<div class="container">
    <h2> Selected Question thread </h2>
    <div class="card card-default">
        <div class="card-header"><h3 [innerHtml]="question.title"></h3></div>
        <div class="card-body" >
            <div class="question-body" [innerHtml]="question.body"></div>
            <div class="user col-2">
                <img src={{question.owner.profile_image}} height="75" width="75"/>{{question.owner.display_name}}
                <img src="assets/star.png" />{{question.owner.reputation}}
            </div>
        </div>
        <!-- Comments -->
        <div class="card-footer card-default">
            <h5 *ngIf="this._dataService.chosenQuestionComments[0] != null">Comments</h5>
            <ul class="question-comments">
                <li *ngFor="let comment of this._dataService.chosenQuestionComments">
                    <img src={{comment.owner.profile_image}} height="25" width="25"/>{{comment.owner.display_name}}
                    <div [innerHtml]="comment.body"></div><hr/>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
    <h4>{{answers}} answers</h4>
   
    <div *ngFor="let answer of questionAnswerThread">
        <div class="card card-default">
            <div class="answer-body" [innerHtml]="answer.body"></div>
            <div class="user col-2">
                <img src={{answer.owner.profile_image}} height="75" width="75"/>{{answer.owner.display_name}}
                <img src="assets/star.png" />{{answer.owner.reputation}}
            </div>
            <div class="card-footer">
                <div *ngFor="let comment of answerComments">
                    <ng-template [ngIf]="comment.post_id == answer.answer_id">
                        <img class="commentUser" src={{comment.owner.profile_image}} height="25" width="25"/>{{comment.owner.display_name}}
                        <div [innerHtml]="comment.body"></div><hr/>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>